body {
  background-color: rgb(167, 167, 239);
}
.riga .card img {
  aspect-ratio: 1/1;
  height: 50%;
  object-fit: contain;
}
.riga {
  text-align: center;
  justify-content: center;
}
.card {
  height: 500px;
  background-color: rgb(37, 37, 152);
  color: white;
}
.card-body {
  height: 30%;
}

p {
  font-weight: bold;
}
button {
  background-color: red;
}
.card:hover {
  box-shadow: 5px 5px 5px black;
}
button {
  border-radius: 5px;
}
.carrello {
  background-color: yellow;
  height: 400px;
}

body {
  background-color: rgb(167, 167, 239);
}
.riga .card img {
  aspect-ratio: 1/1;
  height: 50%;
  object-fit: contain;
}
.riga {
  text-align: center;
  justify-content: center;
}
.card {
  height: 500px;
  background-color: rgb(37, 37, 152);
  color: white;
}
.card-body {
  height: 30%;
}

p {
  font-weight: bold;
}
button {
  background-color: red;
}
.card:hover {
  box-shadow: 5px 5px 5px black;
}
button {
  border-radius: 5px;
}
.carrello {
  background-color: yellow;
  height: 400px;
}
